{% extends 'layout_main.twig' %}

{% block body %}

<div class="breadcrumb">
    <h1>Qredit Batch Sender</h1>
</div>
<p class="text-small text-muted text-left">Text</p>
<div class="separator-breadcrumb border-top"></div>

{% endblock %}

{% block javascripts %}



{% endblock %}
