{% extends 'layout_main.twig' %}

{% block body %}

<div class="breadcrumb">
    <h1>Delegate Monitor App</h1>
</div>
<p class="text-small text-muted text-left">Text</p>
<div class="separator-breadcrumb border-top"></div>


<div class="row" style="text-align: center;">

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="mb-3">Delegate Telegram Toolbot</h3>
                            <h5 class="mb-3">text</h5>
                            <h5 class="mb-3">text</h5>
                            <h5 class="mb-3">text</h5>
                            <a href="https://t.me/Qreditoolbot"><button class="btn btn-primary btn-sm" style="margin-top:5px;">Click here!</button></a>
                        </div>
                    </div>
                </div>

                 <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="mb-3">Delegate Monitor Android App</h3>
                            <h5 class="mb-3">text</h5>
                            <h5 class="mb-3">text</h5>
                            <h5 class="mb-3">text</h5>
                            <a href="https://play.google.com/store/apps/details?id=com.vrlcrypt.qreditmonitor"><button class="btn btn-primary btn-sm" style="margin-top:5px;">Download now!</button></a>
                        </div>
                    </div>
                </div>
</div>

{% endblock %}

{% block javascripts %}



{% endblock %}
