{% extends 'layout_main.twig' %}

{% block body %}

<div class="breadcrumb">
    <h1>Qredit Desktop Apps</h1>
</div>
<p class="text-small text-muted text-left">Text</p>
<div class="separator-breadcrumb border-top"></div>

<div class="row" style="text-align: center;">
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="card-body">
                            <h2 class="mb-3">text</h2>
                            <p>text</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="mb-3">Image</h3>
                        </div>
                    </div>
                </div>
</div>



<div class="row" style="text-align: center;">

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="mb-3">Windows</h3>
                            <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">Download</button></a>
                            <p class="text-small text-muted text-center">md5 hash:</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="mb-3">MacOS</h3>
                            <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">Download</button></a>
                            <p class="text-small text-muted text-center">md5 hash:</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="mb-3">Linux / Ubuntu</h3>
                            <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">Download</button></a>
                            <p class="text-small text-muted text-center">md5 hash:</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="mb-3">Source Code</h3>
                            <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">View</button></a>
                            <p class="text-small text-muted text-center">Github | Bitbucket</p>
                        </div>
                    </div>
                </div>
</div>

{% endblock %}

{% block javascripts %}



{% endblock %}
