{% extends 'layout_main.twig' %}

{% block body %}

<div class="breadcrumb">
    <h1>Blog</h1>
</div>
<p class="text-small text-muted text-left">Text</p>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
<div class="col">
                            <div class="card bg-dark text-white o-hidden" style="max-width:450px;">
                                <img class="card-img" src="https://hodler.enterprises/sync/2020/01/q1-2020-share.jpg" alt="Card image">
                                <div class="card-img-overlay">
                                    <div class="text-center pt-8">
                                        <h1 class="card-title mb-2 text-white">Update Q1 2020 - 0.5</h1>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white o-hidden" style="max-width:450px;">
                                <img class="card-img" src="https://hodler.enterprises/sync/2019/11/qae-update-header-big.jpg" alt="Card image">
                                <div class="card-img-overlay">
                                    <div class="text-center pt-8">
                                        <h1 class="card-title mb-2 text-white">QAE-1 Launched!</h1>
                                    </div>
                                </div>
                            </div> 
                        </div>
                                                <div class="col">
                            <div class="card bg-dark text-white o-hidden" style="max-width:450px;">
                                <img class="card-img" src="https://hodler.enterprises/sync/2019/11/fb-share-q3-2019.jpg" alt="Card image">
                                <div class="card-img-overlay">
                                    <div class="text-center pt-8">
                                        <h1 class="card-title mb-2 text-white">Update Q3 2019</h1>
                                    </div>
                                </div>
                            </div> 
                        </div>
</div>
<br>
<div class="row">
<div class="col">
                            <div class="card bg-dark text-white o-hidden" style="max-width:450px;">
                                <img class="card-img" src="https://hodler.enterprises/sync/2019/11/fb-share-q2-2019.jpg" alt="Card image">
                                <div class="card-img-overlay">
                                    <div class="text-center pt-8">
                                        <h1 class="card-title mb-2 text-white">Update Q2 2019</h1>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white o-hidden" style="max-width:450px;">
                                <img class="card-img" src="https://hodler.enterprises/sync/2019/11/fb-share-q1-2019.jpg" alt="Card image">
                                <div class="card-img-overlay">
                                    <div class="text-center pt-8">
                                        <h1 class="card-title mb-2 text-white">Update Q1 2019</h1>
                                    </div>
                                </div>
                            </div> 
                        </div>
                                                <div class="col">
                            <div class="card bg-dark text-white o-hidden" style="max-width:450px;">
                                
                                <div class="card-img-overlay">
                                    <div class="text-center pt-8">
                                        <h1 class="card-title mb-2 text-white"></h1>
                                    </div>
                                </div>
                            </div> 
                        </div>
</div>

{% endblock %}

{% block javascripts %}



{% endblock %}
