{% extends 'layout_main.twig' %}

{% block body %}

<style>
.table td {
    text-align: center;
}

.table tr {
    text-align: center;
}

.i-Close-Window{
    color:red;
}

.i-Yes{
    color:green;
}
</style>


<div class="breadcrumb">
    <h1>Exchange Overview</h1>
</div>
<p class="text-small text-muted text-left">An overview of Exchanges with Qredit listed.</p>
<div class="separator-breadcrumb border-top"></div>


<div class="card">
<div class="card-body">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Exchange Name</th>
                                            <th scope="col">Official URL</th>
                                            <th scope="col">24h Exchange Volume</th>
                                            <th scope="col">QAE Support</th>
                                            <th scope="col">Fiat Support</th>
                                            <th scope="col">CMC Listed</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td><span data-toggle="tooltip" data-placement="top" data-original-title="Launched in 2018 and based in Sweden.">Altilly</span></td>
                                            <td><a href="https://altilly.com">altilly.com</a></td>
                                            <td id='altilly'></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                            <td><span class="badge badge-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>STEX</td>
                                            <td><a href="https://stex.com">stex.com</a></td>
                                            <td id='stocks_exchange'></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                            <td><span class="badge badge-info">Pending Listing</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>SatoExchange</td>
                                            <td><a href="https://satoexchange.com">satoexchange.com</a></td>
                                            <td id='satoexchange'></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><span class="badge badge-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td><span data-toggle="tooltip" data-placement="top" data-original-title="Please avoid this exchange.">TradeSatoshi</span></td>
                                            <td><a href="https://tradesatoshi.com">tradesatoshi.com</a></td>
                                            <td id='tradesatoshi'></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                             <td><span class="btn badge badge-danger" data-toggle="tooltip" data-placement="top" data-original-title="Wallets in maintenance for months. Funds locked. No reply on tickets.">Warning!</span></td>
                                        </tr>
                                       <tr>
                                            <th scope="row">5</th>
                                            <td><span data-toggle="tooltip" data-placement="top" data-original-title="Fake Volume.">FinexBox</span></td>
                                            <td><a href="https://finexbox.com">finexbox.com</a></td>
                                            <td id='finexbox'></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td> <i class="nav-icon i-Yes font-weight-bold"></i></td>
                                            <td><span class="btn badge badge-danger" data-toggle="tooltip" data-placement="top" data-original-title="Fake Volume.">Warning!</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td><span data-toggle="tooltip" data-placement="top" data-original-title="Long maintenance.">BitexLive</span></td>
                                            <td><a href="https://bitexlive.com">bitexlive.com</a></td>
                                            <td id='bitexlive'></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><i class="nav-icon i-Close-Window font-weight-bold"></i></td>
                                            <td><span class="btn badge badge-danger" data-toggle="tooltip" data-placement="top" data-original-title="Long maintenance.">Warning!</span></td>
                                        </tr>
                                    </tbody>
                                </table>



                        </div>
</div></div>

{{ volumebitexlive }}

{% endblock %}

{% block javascripts %}



	<script>
var getJSON = function(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status === 200) {
        callback(null, xhr.response);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
};

const api = "https://api.coingecko.com/api/v3/exchanges/"
const ext = "/tickers?coin_ids=qredit"


/* BITEXLIVE */

getJSON(api + "bitexlive" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#bitexlive').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

/* ALTILLY */

getJSON(api + "altilly" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#altilly').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
        });
/* STEX */

getJSON(api + "stocks_exchange" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#stocks_exchange').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

/* ATOMARS */

getJSON(api + "atomars" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#atomars').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

/* ALTERDICE */

getJSON(api + "alterdice" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#alterdice').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

/* SATOEXCHANGE */

getJSON(api + "satoexchange" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#satoexchange').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

/* TRADESATOSHI */

getJSON(api + "tradesatoshi" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#tradesatoshi').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

/* FINEXBOX */

getJSON(api + "finexbox" ,      function(err, data) {
		if (data.trade_volume_24h_btc)
		{  
			$('#finexbox').html(parseFloat(data.trade_volume_24h_btc).toFixed(2) + '<strong> BTC</strong>' );
        }
     });

    </script>
    

<script src="/javascripts/tooltip.script.js"></script>
<script src="/javascripts/vendor/echarts.min.js"></script>
<script src="/javascripts/es5/echart.options.min.js"></script>
<script src="/javascripts/es5/dashboard.v1.script.js"></script>

{% endblock %}
