{% extends 'layout_main.twig' %}


{% block body %}

<div class="breadcrumb">
    <h1>Qredit Web Portal</h1>
</div>
<p class="text-small text-muted text-left">Welcome to the Qredit Web Portal</p>
<div class="separator-breadcrumb border-top"></div>
<div class="row" style="text-align: center;">
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-3">Blockchain Status</h5>
                            <p class="text-20 text-success line-height-1 mb-3"><i class="i-Arrow-Up-in-Circle"></i> 100%</p>
                            <small class="text-muted">(51 out of 51 Delegates Forging)</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-3">Last Forged Block</h5>
                            <p class="text-20 text-success line-height-1 mb-3"><i class="i-Male"></i> altilly_rewards
                            </p>
                            <small class="text-muted">next forger: alessio</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-3">Block Height</h5>
                            <p class="text-20 text-success line-height-1 mb-3"><i class="i-Data"></i> 5134546
                            </p>
                            <small class="text-muted">10 XQR forged from 0 transactions</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-3">Network Latency (Average)</h5>
                            <p class="text-20 text-success line-height-1 mb-3"><i class="i-Male"></i> 113ms
                            </p>
                            <small class="text-muted">highest latency: 312ms</small>
                        </div>
                    </div>
                </div>
            

            </div>
<div class="row" style="text-align: center;">





            </div>

{% endblock %}

{% block javascripts %}

<script src="{{asset('assets/js/vendor/echarts.min.js')}}"></script>
<script src="{{asset('assets/js/es5/echart.options.min.js')}}"></script>
<script src="{{asset('assets/js/es5/dashboard.v1.script.js')}}"></script>

<script>

  $(document).ready(function() {


	var socket = io();
  
  	
  	socket.on('data', function (data) { 
  	  	
  		console.log(data);
  	 
  	});
  	
  });

</script>

{% endblock %}
