<div class="main-header">
    <div class="logo">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="menu-toggle">
                <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="d-flex align-items-center">
        <div class="search-bar">
            <input type="text" placeholder="Find a block, transaction, address or delegate.">
            <i class="search-icon text-muted i-Magnifi-Glass1"></i>
        </div>
    </div>

    <div style="margin: auto"></div>

    <div class="header-part-right center" style="margin-right: 10px;">
        <a class="btn btn-danger text-white btn-rounded"
            href="https://qredit.digitalwindmill.com"
            target="_blank">Visit Old Explorer</a>

    </div>

</div>

<style>
.container { vertical-align: middle }



.layout-sidebar-large .main-header {
box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgb(111, 0, 0);

}
 
</style>

<!-- <script>

  $(document).ready(function() {

	$.getJSON("https://api.coingecko.com/api/v3/simple/price?ids=QREDIT&vs_currencies=USD", function(result){
	
		if (result.qredit.usd)
		{
			$('#xqrusdprice').html(result.qredit.usd);
		}
	
	});

  });

</script> -->

<!-- header top menu end -->
