{% extends 'layout_main.twig' %}

{% block body %}
	<style>
		.table td,
		.table th {
			text-align: center;
		}
	</style>
	<div class="breadcrumb">
		<h1>Delegates Monitor</h1>
	</div>
	<p class="text-small text-muted text-left">Delegates Monitor</p>
	<div class="separator-breadcrumb border-top"></div>


	<div class="table-responsive">
		<table class="table table-dark table-sm table-striped">
			<thead>
				<tr>
					<th style="" scope="col">Block Height</th>
					<th style="" scope="col">Last Block</th>
					<th style="" scope="col">Forged</th>
					<th style="" scope="col">Last Forged</th>
				</tr>
			</thead>
			<tbody id='blocks'></tbody>
		</table>
	</div>


	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th scope="col">Rank</th>
							<th scope="col">Username</th>
							<th scope="col">Blocks Produced</th>
							<th scope="col">Last Forged</th>
							<th scope="col">Status</th>
							<th scope="col">Votes</th>
						</tr>
					</thead>
					<tbody id='delegates'></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>

		$(document).ready(function () {

var socket = io();

socket.emit('getblocks', {});

socket.on('showblocks', function (data) {

var mainTable = document.getElementById("blocks");

var tr,
td;

data.forEach(function (row) {

tr = document.createElement("tr");

td = document.createElement("td");
td.innerHTML = row.height;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.id;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = (parseFloat(row.rewardtotal) / 100000000).toFixed(0) + ' out of ' + row.transactionsforged + ' transactions. ';
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.lastforgedusername;
tr.appendChild(td);

blocks.appendChild(tr);

});

});

});
	</script>

	<script>

		$(document).ready(function () {

var socket = io();

socket.emit('getdelegates', {});

socket.on('showdelegates', function (data) {

var mainTable = document.getElementById("delegates");

var tr,
td;

data.forEach(function (row) {

tr = document.createElement("tr");

td = document.createElement("td");
td.innerHTML = row.rank;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.username;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.blocks;
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = timeDifference(row.timestamp);
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = getStatus(row.timestamp);
tr.appendChild(td);

td = document.createElement("td");
td.innerHTML = row.approval + ' % ';
tr.appendChild(td);


delegates.appendChild(tr);

});

});

});


function timeDifference(datetime) {

var d = new Date();
var current = d.getTime();
var previous = Date.parse(datetime);

var msPerMinute = 60 * 1000;
var msPerHour = msPerMinute * 60;
var msPerDay = msPerHour * 24;
var msPerMonth = msPerDay * 30;
var msPerYear = msPerDay * 365;

var elapsed = current - previous;

if (elapsed < msPerMinute) {
return Math.round(elapsed / 1000) + ' seconds ago';
} else if (elapsed < msPerHour) {
return Math.round(elapsed / msPerMinute) + ' minutes ago';
} else if (elapsed < msPerDay) {
return Math.round(elapsed / msPerHour) + ' hours ago';
} else if (elapsed < msPerMonth) {
return 'approximately ' + Math.round(elapsed / msPerDay) + ' days ago';
} else if (elapsed < msPerYear) {
return 'approximately ' + Math.round(elapsed / msPerMonth) + ' months ago';
} else {
return 'approximately ' + Math.round(elapsed / msPerYear) + ' years ago';
}
}

function getStatus(datetime) {

var d = new Date();
var current = d.getTime();
var previous = Date.parse(datetime);

var msPerMinute = 60 * 1000;
var msPerHour = msPerMinute * 60;
var msPerDay = msPerHour * 24;
var msPerMonth = msPerDay * 30;
var msPerYear = msPerDay * 365;

var elapsed = (current - previous) / 1000;

if (elapsed < (16 * 60)) {
return '<span style="color:green;"><i class="fas fa-circle"></i><i class="fas fa-circle"></i></span>';
} else if (elapsed < (24 * 60)) {
return '<span style="color:orange;"><i class="fas fa-circle"></i><i class="fas fa-circle"></i></span>';
} else {
return '<span style="color:red;"><i class="fas fa-circle"></i><i class="fas fa-circle"></i></span>';
}

}
	</script>


{% endblock %}
