{% extends 'layout_main.twig' %}

{% block body %}
<style>
.table td, .table th{
	text-align:center;
}
</style>
<div class="breadcrumb">
    <h1>Peers</h1>
</div>
<p class="text-small text-muted text-left">Text</p>
<div class="separator-breadcrumb border-top"></div>


<div class="card">
<div class="card-body">
  <div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
          <tr>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody id='maintable'>
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}

<script>

$(document).ready(function() {

	var socket = io();
	
	socket.emit('getdelegates', {});
	
  	socket.on('showdelegates', function (data) { 
  	
  		var mainTable = document.getElementById("delegates");
  		
  		var tr, td;
  	
  		data.forEach(function(row) {
  		
  			tr = document.createElement("tr");
  			
  			td = document.createElement("td");
  			td.innerHTML = row.username;
  			tr.appendChild(td);
  			
  			maintable.appendChild(tr);
  		
  		});

  	});

});

</script>

{% endblock %}
