{% extends 'layout_main.twig' %}

{% block body %}

	<div class="breadcrumb">
		<h1>Transaction</h1>
	</div>
	<p class="text-small text-muted text-left">Text</p>
	<div class="separator-breadcrumb border-top"></div>



	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th scope="col">Transaction ID</th>
							<th scope="col">Confirmations</th>
						</tr>
					</thead>
					<tbody id='transactiondetails'>
					
					
					
					
					</tbody>

				</table>
				
			</div>
		</div>
	</div>

	{{ transactionId }}

{% endblock %}


{% block javascripts %}

<script>

$(document).ready(function () {

	var socket = io();

	socket.emit('gettransactiondetails', {transactionId: '{{ transactionId }}'} );

	socket.on('showtransactiondetails', function (data) {

		var mainTable = document.getElementById("transactiondetails");
		var tr, td;

		for(var k in data)
		{

			tr = document.createElement("tr");
			
			td = document.createElement("td");
			td.innerHTML = k;
			tr.appendChild(td);
			
			td = document.createElement("td");
			td.innerHTML = data[k];
			tr.appendChild(td);

			transactiondetails.appendChild(tr);

		};


	});

});

</script>
{% endblock %}
