{% extends 'layout_main.twig' %}

{% block body %}

<div class="breadcrumb">
    <h1>Libraries</h1>
</div>
<p class="text-small text-muted text-left">Text</p>
<div class="separator-breadcrumb border-top"></div>

<div class="row" style="text-align: center;">
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="card-body">
                            <h1 class="mb-3">start <code>coding</code> now.</h1>
                            <p>Choose your preferred <code>coding</code> language </p>
                        </div>
                    </div>
                </div>
</div>

<div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="card card-body ul-border__bottom">
                            <div class="text-center">
                                <h5 class="heading text-primary"><code>JavaScript</code> Libraries</h5>
                                <p class="mb-3 text-muted">text</p>

                                <a href="#collapse-link-js" class="font-weight-semibold typo_link text-primary t-font-boldest collapsed" data-toggle="collapse" aria-expanded="false">
                                    Click here!
                                </a>
                            </div>

                            <div class="collapse" id="collapse-link-js" style="">
                                <div class="mt-3 text-center">
                                <p class="mb-3">text</p>
                                <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">View qae-Js Lib</button></a><a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">View Qredit-Js Lib</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="card card-body ul-border__bottom">
                            <div class="text-center">
                                <h5 class="heading text-primary"><code>TypeScript</code> Libraries</h5>
                                <p class="mb-3 text-muted">text</p>

                                <a href="#collapse-link-ts" class="font-weight-semibold typo_link text-primary t-font-boldest collapsed" data-toggle="collapse" aria-expanded="false">
                                    Click here!
                                </a>
                            </div>

                            <div class="collapse" id="collapse-link-ts" style="">
                                <div class="mt-3 text-center">
                                <p class="mb-3">text</p>
                                <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">View Qredit-TS Lib</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div class="card card-body ul-border__bottom">
                            <div class="text-center">
                                <h5 class="heading text-primary"><code>Python</code> Libraries</h5>
                                <p class="mb-3 text-muted">text</p>

                                <a href="#collapse-link-py" class="font-weight-semibold typo_link text-primary t-font-boldest collapsed" data-toggle="collapse" aria-expanded="false">
                                   Click here!
                                </a>
                            </div>

                            <div class="collapse" id="collapse-link-py" style="">
                                <div class="mt-3 text-center">
                                <p class="mb-3">text</p>
                                <a href=""><button class="btn btn-primary btn-sm" style="margin:5px;">View Python Library</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
       
 </div>

{% endblock %}

{% block javascripts %}



{% endblock %}
